@import "../styles/global-variables.module.scss";

.chordsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  transition: 2.4 ease;

  .chordBtn {
    cursor: pointer;
    border: none;
    background-color: $clr-black;
    color: $clr-white;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    width: 6rem;
    border-radius: 3%;

    &:hover {
      background-color: $clr-gray;
      transform: scale(1.04);
    }

    span:first-child {
      color: $clr-accent;
    }
  }
}
