@import "../styles/global-variables.module.scss";

.container {
  background-color: $clr-black;
  padding: 0.7rem 2rem;
  color: $clr-ivory-300;
  width: 100vw;

  .logo {
    display: flex;
    align-items: center;

    h1 {
      letter-spacing: 4px;
      margin-right: 0.3rem;
    }
  }

  h2 {
    font-weight: 200;
    letter-spacing: 1px;
  }

  .dropDown {
    display: flex;

    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      margin-right: 1rem;

      background: url("https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png");
      background-repeat: no-repeat;
      background-size: 15px 15px;
      background-position: right;
      background-origin: content-box;

      border: none;
      color: $clr-ivory-300;
      font-size: 1rem;
      letter-spacing: 1px;

      margin-top: 1rem;

      &:focus {
        outline: none;
      }

      &:nth-child(1) {
        width: 3rem;
      }
      &:nth-child(2) {
        width: 7rem;
      }
      &:nth-child(3) {
        width: 6.5rem;
      }
    }
  }
}
