$clr-ivory-100: rgb(245, 240, 240);
$clr-ivory-200: rgb(235, 230, 230);
$clr-ivory-300: rgb(226, 220, 220);
$clr-ivory-400: rgb(222, 216, 216);
$clr-ivory-500: rgb(218, 211, 211);
$clr-ivory-600: rgb(207, 201, 201);
$clr-ivory-700: rgb(202, 197, 197);

$clr-red-300: #ffede1;
$clr-red-600: #ef8a62;

$clr-black: #0a0a0a;
